

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: kicad
      POSTGRES_USER: kicad
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: postgres -c listen_addresses='*'

volumes:
  postgres_data: